//to reset element-ui default css
html,
body,
#app {
  height: 100%;
}
.login_pagelogin_page {
  .ivu-input-wrapper {
    height: 50px;
    .ivu-input {
      height: 50px;
      border-radius: 50px;
    }
  }
  .ivu-form-item {
    margin-bottom: 28px;
  }
}
